h2 {
    text-align: center;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.full-width {
  width: 100%;
  max-width: 280px;
}

mat-form-field {
  width: 240px;
}