
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

/*Angular material changes*/

.search-field {

  width: 300px;

  .mat-mdc-text-field-wrapper {
    height: 40px;
    background-color: #f1f3f6;
  }
  .mat-mdc-form-field-flex {
    align-items: center;
    height: 40px;
  }

  .mdc-notched-outline__leading {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
  }

  .mdc-notched-outline__trailing {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }
} 

.mat-mdc-outlined-button {
  color: #8540F5 !important;
}

.mat-mdc-outlined-button:hover {
  background-color: rgba(133, 64, 245, 0.08);
}

.mat-mdc-outlined-button .mdc-button__ripple::before,
.mat-mdc-outlined-button .mdc-button__ripple::after {
  background-color: #8540F5;
}